<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin/adminlogin.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
    <title>로그인</title>
  </head>
  <body>
    <!-- header-start -->
    <header class="menudiv1">
      <div class="menudiv2-1">
        <img alt="" src="/images/logo2.png" />
      </div>
      <div class="menudiv2-2">
        <div class="menudiv3-1" id="div1">
          <ul id="menuItems">
            <li class="item">계정관리</li>
            <li class="item">통계</li>
            <li class="item">숙소관리</li>
            <li class="item">로그관리</li>
            <li class="item">로그인</li>
          </ul>
        </div>
      </div>
    </header>
    <!-- header-end -->
    <div class="container" style="text-align: center;">
      <img src="/images/admin/adminregister.jpg" alt="" />
      <div class="adminm">
        <div class="admin1" style="padding-bottom: 30px;">
          <label for="admin">관리자 로그인</label>
        </div>
        <div class="adminid" style="padding-bottom: 30px;">
          <input type="text" placeholder="관리자 ID" />
        </div>
        <div class="adminpw">
          <input type="password" placeholder="관리자 PW" />
        </div>
      </div>
      <div class="btnadmin">
        <button type="submit" class="button">로그인</button>
      </div>
    </div>
  </body>
</html>
