<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Travelo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png" />

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/menu.css" />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../css/hostregister.css" />
    <link rel="stylesheet" type="text/css" href="../css/hostdetail.css" />
    <link rel="stylesheet" type="texx/javascript" href="../js/hostdetail.js" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="../js/hostdetail.js"></script>
  </head>
  <body>
    <!--resiterform-->
    <div class="container">
      <div class="form">
        <div class="title">어떻게 시작하고 싶으세요?</div>
        <div class="host">
          <div class="newhost">
            <input type="radio" name="gener" checked="checked" />
            <span class="up">새로운 숙소</span>
            <img src="../images/host/house1.png" />
          </div>
          <div class="hosting">
            <input type="radio" name="gener" />
            <span class="up">숙소 등록중</span>
            <img src="../images/host/house1.png" />
          </div>
          <div class="hosted">
            <input type="radio" name="gener" />
            <span class="up">등록했던 숙소</span>
            <img src="../images/host/house1.png" />
          </div>
        </div>
        <div class="button" style="float: right;">
          <a href="#"><label for="button">next</label></a>
        </div>
      </div>
    </div>
    <!--registerform end-->

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
