<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../TEST/TEST.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="slideshow-container">
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="../images/main/mainpic1.jpg" style="width: 100%;" />
        <div class="text"></div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="../images/main/mainpic2.png" style="width: 100%;" />
        <div class="text"></div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="../images/main/mainpic3.jpg" style="width: 100%;" />
        <div class="text"></div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="../images/main/mainpic4.png" style="width: 100%;" />
        <div class="text"></div>
      </div>
    </div>
    <br />

    <div style="text-align: center;">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <script
      type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
    ></script>
    <script type="text/javascript">
      var slideIndex = 0;
      showSlides();

      function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
          slideIndex = 1;
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
      }
    </script>
  </body>
</html>
