<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Travelo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png" />

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/menu.css" />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../css/host.css" />
  </head>

  <body>
    <!-- header-start -->
    <header class="menudiv1">
      <div class="menudiv2-1">
        <img alt="" src="../images/logo2.png" />
      </div>
      <div class="menudiv2-2">
        <div class="menudiv3-1" id="div1">
          <ul id="menuItems">
            <li class="item">홈</li>
            <li class="item">메세지</li>
            <li class="item">예약</li>
            <li class="item">달력</li>
            <li class="item">숙소</li>
            <li class="item">실적</li>
            <li class="item">도움말</li>
          </ul>
          <img alt="http://www.naver.com" src="../images/menubar.png" id="menubar" />
        </div>
      </div>
    </header>
    <!-- header-end -->
    <div class="container">
    <div class="title"><h2>알림판</h2></div>
    <div class="form">
      <div class="hh">
      <div class="ho">
      <div class="hostalt1_1_1">
      <div class="hostalt">
        <label for="alt1">예약요청</label></br>       
      </div>
      <div class="hostalt1">
        <label for="alt1_1">게스트들의 예약 요청사항.</label>
      </div>
    </div>
    </div>
    <div class="ho1">
    <div class="hostalt2_2_2">
    <div class="hostalt2">
      <label for="alt2">알림</label>
    </div>
    <dlv class="hostalt2_1">
    <label for="alt2_1">특이사항들이 온다(경고횟수 등등)</label>
    </dlv>
  </div>
</div>
</div>
<div class="ho2">
      <div class="hostalt3">
        <label for="alt3">예약</label>
      </div>
      <div class="hostalt3_1">
        <label for="alt3_1">현재 게스트들의 예약 내역사항</label>
      </div>
    </div>
  </div>
</div>

    <footer class="first" id="bottom">
      <div class="second">
        회사소개 | 이용약관 | 개인정보처리방침 |사업자 정보확인 | 여기어때
        마케팅센터 | 액티비티 호스트센터 | HOTEL 여기어때
        |콘텐츠산업진흥법에의한 표시<br />
        <br />
        고객행복센터 1670-6250 오전 9시 - 새벽 3시, 점심시간: 오후 12시 - 오후
        1시<br /><br />
        (주) 여기어때컴퍼니<br /><br />
        주소 : 서울특별시 강남구 봉은사로 479, 479타워 11층<br />
        대표이사 : 박남수 | 사업자등록번호: 742-86-00224<br />
        통신판매번호 : 2017-서울강남-01779 | 관광사업자 등록번호: 제1026-24호<br />
        전화번호 : 1670-6250<br />
        전자우편주소 : skatn7979@gmail.com<br />
        Copyright GC COMPANY Corp. All rights reserved.<br />
        <hr id="bline" />
        <img src="../images/face.png" id="blogo" />
        <img src="../images/insta.png" id="blogo" />
      </div>
    </footer>
  </body>
</html>
