<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Travelo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/menu.css">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">
    <link rel="stylesheet" type="text/css" href="../css/hostregister.css" />
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/TEST.css">
</head>

<body>
    <!-- header-start -->
    <header class="menudiv1">
        <div class="menudiv2-1">
          <a href=""><img alt="" src="../images/main/1123.png" /></a></br>
          <label for="" style="font-size: 20px;">Trip</label>
        </div>
        <div class="menudiv2-2">
          <div class="menudiv3-1" id="div1">
            <ul id="menuItems">
              <a href="../html/hostresgister.html"><li class="item" >호스트</li></a>
              <li class="item"> <p>
                <a
                  href="javascript:void(0)"
                  onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"
                  >회원가입</a
                >
              </p>
              <div id="light" class="white_content" style="background-image: url(../images/guestcartoon.jpg1);">
                <div class="allScreen" id="my__all__join" style="text-align: center;">
                    <div class="screenCover"></div>
                    <div class="my__join" style="display: inline-block;">
                        <div class="my__join__create">
                            <div>
                                <font size="5em" color="#64dd17"><a href="https://nid.naver.com/nidlogin.login?mode=form&url=https%3A%2F%2Fwww.naver.com">네이버</a></font> 또는<font size="5em" color="#ffab00">카카오톡</font>으로 회원 가입하세요.
                            </div>
                            <div style="margin-top: 30px;">
                                <div class="my__join__line1">
                                    또는
                                </div>
                            </div>
                            <div class="input_email">
                                <span>
                                    <input class="iemail" type="email" name="e-mail" placeholder="&nbsp;&nbsp;이메일 주소" required>
                                </span>
                            </div>
                            <div class="input_password">
                                <span>
                                    <input class="ipassword" type="password" name="pw" placeholder="&nbsp;&nbsp;비밀번호 설정" required>
                                </span>
                            </div>
                            <div class="input_confirm_password">
                                <span>
                                    <input class="icpassword" type="password" name="cpw" placeholder="&nbsp;&nbsp;비밀번호 확인" required>
                                </span>
                            </div>
                            <div class="input_name">
                                <span>
                                    <input class="iname" type="text" name="name" placeholder="&nbsp;&nbsp;이름(예:홍길동)" required>
                                </span>
                            </div>
                            <div class="input_tel">
                                <span>
                                    <input class="itel" type="tel" name="phone" placeholder="&nbsp;&nbsp;전화번호(예:010-0000-0000)" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required>
                                </span>
                            </div>
                            <div>
                                <div><a href="../html/addregister.html"><input class="my__join__email" type="submit" value="가입 하기" style="font-size: 30px;"/></a></div>
                                <div class="loginMove" style="text-align:center">이미 에어비앤비 계정이 있나요?<a class="my__login__link"
                                        onclick="myjoin_close(); mylogin_open();" href="" >로그인</a></div>
                            </div>
                        </div>
                    </div>
                </div></br>
                <a class="a6"
                  href="javascript:void(0)"
                  onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"                  
                  >Close</a
                >
                </div>
              </div>
              <div id="fade" class="black_overlay"></div></li>
              <li class="item">     
              
              <p>
                <a
                  href="javascript:void(0)"
                  onclick="document.getElementById('light1').style.display='block';document.getElementById('fade').style.display='block'"
                  >로그인</a
                >
              </p>

              <div id="light1" class="white_content" style="background-image: url(../images/guestperson.png1);">
              <div class="allScreen" id="my__all__login">
                <div class="my__login" style="display: inline-block;">
                    <div class="a">
                        <div class="login">
                            <div>
                                <a href class="bb1" style="font-size: 30px;">
                                    <span>네이버 계정으로 로그인</span>
                                </a>
                            </div>
                            <div>
                                <a href class="bb2"  style="font-size: 30px;">
                                    <span>카카오 계정으로 로그인</span>
                                </a>
                            </div>
                            <div>
                            </div>
                            <div class="a3">
                                <input class="bb6" type="email" name="e-mail" placeholder="&nbsp;&nbsp;이메일 주소" required>
                            </div>
                            <div>
                                <div class="a3">
                                    <input class="bb6" type="password" name="pwd" placeholder="&nbsp;&nbsp;비밀번호" required>
                                </div>
                            </div>
                            <div class="a4">
                                <div >
                                    <input type="checkbox" value="yes" name="pwdsave" />
                                    <span>비밀번호 저장</span><div></br>
                                        <a class="bb8" href="#">비밀번호 보기</a></div>
                                </div class="a5">
                                
                            </div>
                            <div class="a5">
                                <a class="bb9" href="javascript:viod(0)">전화번호로 로그인</a>
                                <a class="bb9" style="margin-left: 20px;"
                                    href="../TEST/forgotPassword.html">비밀번호가 생각나지 않으세요?</a>
                            </div>
                            <div >                           
                                <a class="a6"
                                href="javascript:void(0)"
                                onclick="document.getElementById('light1').style.display='none';document.getElementById('fade').style.display='none'"
                                >로그인</a>
                            </div>
                            <div >                           
                                <a class="a6"
                                href="javascript:void(0)"
                                onclick="document.getElementById('light1').style.display='none';document.getElementById('fade').style.display='none'"
                                >Close</a>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div></br>
            </div>
        </div></li>
            </ul>
          </div>
        </div>
      </header>


    <!-- slider_area_start -->
    <div class="slider_area" >
        <div class="slideshow-container" style="padding-top: 30px;">
            <div class="mySlides fade">
              <div class="numbertext"></div>
              <img src="../images/main/mainpic1.jpg" style="width: 100%;" />
              <div class="text"></div>
            </div>
      
            <div class="mySlides fade">
              <div class="numbertext"></div>
              <img src="../images/main/mainpic2.png" style="width: 100%;" />
              <div class="text"></div>
            </div>
      
            <div class="mySlides fade">
              <div class="numbertext"></div>
              <img src="../images/main/mainpic3.jpg" style="width: 100%;" />
              <div class="text"></div>
            </div>
      
            <div class="mySlides fade">
              <div class="numbertext"></div>
              <img src="../images/main/mainpic4.png" style="width: 100%;" />
              <div class="text"></div>
            </div>
          </div>
          <br />
      
          <div style="text-align: center;">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>

    </div>
    <!-- slider_area_end -->
    <div class="popular_destination_area" style="background-image: url(../images/main/blackback.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3 style="color: white;">당신은 어디로 떠나고 싶나요?</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-1">
                    <div class="single_trip">
                        <div class="single_destination">
                            <div class="thumb">
                                <a href="#">
                                    <img src="../images/destination/seoul.jpg" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <p class="d-flex align-items-center">서울 <a href="reservation_map.html">떠나자!</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-1">
                    <div class="single_trip">
                        <div class="single_destination">
                            <div class="thumb">
                                <a href="#">
                                    <img src="../images/destination/incheon.jpg" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <p class="d-flex align-items-center">경기 <a href="reservation_map.html">떠나자!</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-1">
                    <div class="single_trip">
                        <div class="single_destination">
                            <div class="thumb">
                                <a href="#">
                                    <img src="../images/destination/gangrung.png" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <p class="d-flex align-items-center">강원 <a href="reservation_map.html">떠나자!</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-1">
                    <div class="single_trip">
                        <div class="single_destination">
                            <div class="thumb">
                                <a href="#">
                                    <img src="../images/destination/jeacheon.jpg" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <p class="d-flex align-items-center">충북 <a href="reservation_map.html">떠나자!</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-1">
                    <div class="single_trip">
                        <div class="single_destination">
                            <div class="thumb">
                                <a href="#">
                                    <img src="../images/destination/deajeun.png" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <p class="d-flex align-items-center">충남 <a href="reservation_map.html">떠나자!</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-1">
                    <div class="single_trip">
                        <div class="single_destination">
                            <div class="thumb">
                                <a href="#">
                                    <img src="../images/destination/ulsan.jpg" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <p class="d-flex align-items-center">전북 <a href="reservation_map.html">떠나자!</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-1">
                    <div class="single_trip">
                        <div class="single_destination">
                            <div class="thumb">
                                <a href="#">
                                    <img src="../images/destination/gwangju.jpg" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <p class="d-flex align-items-center">전남 <a href="reservation_map.html">떠나자!</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-1">
                    <div class="single_trip">
                        <div class="single_destination">
                            <div class="thumb">
                                <a href="#">
                                    <img src="../images/destination/daegu.jpg" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <p class="d-flex align-items-center">경북 <a href="reservation_map.html">떠나자!</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-1">
                    <div class="single_trip">
                        <div class="single_destination">
                            <div class="thumb">
                                <a href="#">
                                    <img src="../images/destination/busan.png" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <p class="d-flex align-items-center">경남 <a href="reservation_map.html" >떠나자!</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- popular_destination_area_start  -->
    <div class="popular_destination_area" style="background-image: url(../images/main/blackback.jpg);">
        <div class=" container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3 style="color: white;">당신이 즐기고픈 테마는??</h3>
                </div>
            </div>
        </div>
        <div style="margin-left : 15%">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="../images/dogevent.jpg" alt="">
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">반려견과 함께<a href="travel_destination.html">여행</a> </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="../images/bbqevent.jpg" alt="">
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">바비큐와 함께<a href="travel_destination.html">여행</a> </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="../images/partyroom.jpg" alt="">
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">파티룸<a href="travel_destination.html">여행</a> </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="../images/star.png" alt="">
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">평점이 높은<a href="travel_destination.html">여행</a> </p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
    <!-- popular_destination_area_end  -->


    <div class="travel_variation_area"  style="background-image: url(../images/main/blackback.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3 style="color: white;">곤란한 일이 생겼나요?</h3>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="img/svg_icon/1.svg" alt="">
                        </div>
                        <h3>공지사항</h3>
                        <button type="button" onclick="location.href='공지사항.html'">더보기</button>
                        <table id="list" class="main">
                            <thead>
                                <tr>
                                    <th>글번호</th>
                                    <th scope="cols">공지제목</th>
                                    <th scope="cols">등록날짜</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td id="longtitle"><a href="#1" name="trigger">공지1번!</a></td>
                                    <td>2020-06-28</td>
                                </tr>
                                <tr name="article" class="hide">
                                    <td class="even" colspan="3"><a name="1" id="first"></a>야!!!! 읽어라 !!!!</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td id="longtitle"><a href="#2" name="trigger">공지2번!</a></span></td>
                                    <td>2020-07-15</td>
                                </tr>
                                <tr name="article" class="hide">
                                    <td class="even" colspan="3"><a name="2" id="second"></a>2차에서 수정 사항이 있어요! 당첨자 3명!!
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td id="longtitle"><a href="#3" name="trigger">공지3번!</a></span></td>
                                    <td>2020-07-15</td>
                                </tr>
                                <tr name="article" class="hide">
                                    <td class="even" colspan="3"><a name="3" id="second"></a>1차에서 수정 사항이 있어요! 당첨자 5명!!
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td id="longtitle"><a href="#4" name="trigger">공지4번!</a></td>
                                    <td>2020-07-14</td>
                                </tr>
                                <tr name="article" class="hide">
                                    <td class="even" colspan="3"><a name="4" id="third"></a>첫 이벤트를 공지합니다. 당첨자 10명!</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="img/svg_icon/2.svg" alt="">
                        </div>
                        <h3>이벤트</h3>
                        <button type="button" onclick="location.href='이벤트.html'">더보기</button>
                        <br>
                        <section class="slider_section">
                            <span class="prev_btn">이전 버튼</span><span class="next_btn">다음 버튼</span>
                        </section>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="img/svg_icon/3.svg" alt="">
                        </div>
                        <h3>자주묻는 질문</h3>
                        <button type="button" onclick="location.href='자주질문.html'">더보기</button>
                        <table id="list" class="main">
                            <thead>
                                <tr>
                                    <th>글번호</th>
                                    <th scope="cols">질문제목</th>
                                    <th scope="cols">등록날짜</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td id="longtitle"><a href="#1" name="trigger">질문1번!</a></td>
                                    <td>2020-06-28</td>
                                </tr>
                                <tr name="article" class="hide">
                                    <td class="even" colspan="3"><a name="1" id="first"></a>야!!!! 읽어라 !!!!</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td id="longtitle"><a href="#2" name="trigger">질문2번!</a></span></td>
                                    <td>2020-07-15</td>
                                </tr>
                                <tr name="article" class="hide">
                                    <td class="even" colspan="3"><a name="2" id="second"></a>2차에서 수정 사항이 있어요! 당첨자 3명!!
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td id="longtitle"><a href="#3" name="trigger">질문3번!</a></span></td>
                                    <td>2020-07-15</td>
                                </tr>
                                <tr name="article" class="hide">
                                    <td class="even" colspan="3"><a name="3" id="second"></a>1차에서 수정 사항이 있어요! 당첨자 5명!!
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td id="longtitle"><a href="#4" name="trigger">질문4번!</a></td>
                                    <td>2020-07-14</td>
                                </tr>
                                <tr name="article" class="hide">
                                    <td class="even" colspan="3"><a name="4" id="third"></a>첫 이벤트를 공지합니다. 당첨자 10명!</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
        </div>
    </div>





    <footer class="first" id="bottom" style="background-color: rgb(12, 12, 12); font: white;">
        <div class="second">
            회사소개 | 이용약관 | 개인정보처리방침 |사업자 정보확인 | 여기어때 마케팅센터 | 액티비티 호스트센터 | HOTEL 여기어때 |콘텐츠산업진흥법에의한 표시<br>
            <br>
            고객행복센터 1670-6250 오전 9시 - 새벽 3시, 점심시간: 오후 12시 - 오후 1시<br><br>
            (주) 여기어때컴퍼니<br><br>
            주소 : 서울특별시 강남구 봉은사로 479, 479타워 11층<br>
            대표이사 : 박남수 | 사업자등록번호: 742-86-00224<br>
            통신판매번호 : 2017-서울강남-01779 | 관광사업자 등록번호: 제1026-24호<br>
            전화번호 : 1670-6250<br>
            전자우편주소 : skatn7979@gmail.com<br>
            Copyright GC COMPANY Corp. All rights reserved.<br>
            <hr id="bline">
            <img src="../images/face.png" id="blogo">
            <img src="../images/insta.png" id="blogo">
        </div>
    </footer>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("a[name='trigger']").toggle(function () {
                $(this).closest("tr").next().show();
            }, function () {
                $(this).closest("tr").next().hide();
            });
        });

    </script>
    <script>
              var slideIndex = 0;
      showSlides();

      function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
          slideIndex = 1;
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
      }
    </script>
</body>

</html>