<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Travelo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png" />

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/menu.css" />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../css/location.css" />
  </head>

  <body>
    <!-- header-start -->
    <header class="menudiv1">
      <div class="menudiv2-1">
        <label for="menudiv2-1">위치</label>
        <img alt="" src="../images/logo2.png" />
      </div>
      <div class="menudiv2-2">
        <div class="menudiv3-1" id="div1">
          <img
            alt="http://www.naver.com"
            src="../images/menubar.png"
            id="menubar"
          />
        </div>
      </div>
    </header>
    <!-- header-end -->

    <div class="container">
        <div class="form">
          <img src="../images/diretion.jpg" alt="">
        <div class="locationtitle" style="font-size: 25px; font-weight: bold;">숙소의 위치를 알려주세요</div>
        <div class="locationtitle1" style="font-size: 15px; font-weight: bold;">
            정확한 숙소 주소는 게스트가 예약을 완료한 후에만 공개됩니다.
        </div>
      <div class="locationtitle2" style="padding-top: 20px; padding-bottom: 20px;" >
        <label for="locationtitle3">지역</label>
        <select name="locationtitle4">
            <option value="">지역선택</option>
            <option value="">서울</option>
            <option value="">강원도</option>
            <option value="">경기도</option>
            <option value="">충청도</option>
            <option value="">전라도</option>
            <option value="">경상도</option>
          </select>
      </div>
      <div class="locationtitle5" style="padding-bottom: 20px;">
        <label for="locationtitle5"
          >시/도</label
        >
        <input type="text" maxlength="20"></br></br>
        <label for="locationtitle5" style="font-size: 10px;">예)서울특별시</label>
      </div>
      <div class="locationtitle6" style="padding-bottom: 20px;">
        <label for="locationtitle6"
          >구/군</label
        >
        <input type="text" maxlength="20"></br></br>
        <label for="locationtitle6" style="font-size: 10px">예)강남구</label>
      </div>    
      <div class="locationtitle7" style="padding-bottom: 20px;">
        <label for="locationtitle7"
          >우편번호</label>
        <input type="text" maxlength="20"></br></br>
        <label for="locationtitle7" style="font-size: 10px">예)123-456</label>
      </div> 
      <div class="locationbutton">
        <a href="# "><button>뒤로가기</button></a>
        <a href="# "><button>다음</button></a>
      </div>
    </div>
    </div>

  </body>
  <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"
  ></script>
  <script>
            function fnCalCount(type, ths) {
        var $input = $(ths).parents("td").find("input[name='pop_out']");
        var tCount = Number($input.val());
        var tEqCount = Number($(ths).parents("tr").find("td.bseq_ea").html());

        if (type == "p") {
          if (tCount < tEqCount) $input.val(Number(tCount) + 1);
        } else {
          if (tCount > 0) $input.val(Number(tCount) - 1);
        }
      }
  </script>
</html>
