<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="shortcut icon" sizes="76x76" type="image/x-icon"
    href="https://a0.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" href="../css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title>로그인</title>
</head>
<body>
    <!-- header-start -->
    <header class="menudiv1">
        <div class="menudiv2-1">
          <img alt="" src="/images/logo2.png" />
        </div>
        <div class="menudiv2-2">
          <div class="menudiv3-1" id="div1">
            <ul id="menuItems">
              <li class="item">호스트 등록</li>
              <li class="item">회원가입</li>
              <li class="item">로그인</li>
            </ul>
          </div>
          <div class="menudiv3-2">
            <img alt="" src="/images/menubar.png" id="menubar" />
          </div>
        </div>
      </header>
      <!-- header-end -->
      <div class="container">
        <img src="../images/guestperson1.png">  
      <div id="light1" class="white_content" style="text-align: center;" >
        <div class="allScreen" id="my__all__login" >
          <div class="my__login" style="display: inline-block;">
              <div class="a">
                  <div class="login">
                      <div>
                          <a href class="bb1"  style="font-size: 30px;">
                              <span>네이버 계정으로 로그인</span>
                          </a>
                      </div>
                      <div>
                          <a href class="bb2"  style="font-size: 30px;">
                              <span>카카오 계정으로 로그인</span>
                          </a>
                      </div>
                      <div>
                      </div>
                      <div class="a3">
                          <input class="bb6" type="email" name="e-mail" placeholder="&nbsp;&nbsp;이메일 주소" required>
                      </div>
                      <div>
                          <div class="a3">
                              <input class="bb6" type="password" name="pwd" placeholder="&nbsp;&nbsp;비밀번호" required>
                          </div>
                      </div>
                      <div class="a4">
                          <div>
                              <input type="checkbox" value="yes" name="pwdsave" />
                              <span>비밀번호 저장</span><div></br>
                                  <a class="bb8" href="#">비밀번호 보기</a></div>
                          </div class="a5">
                          
                      </div>
                      <div class="a5">
                          <a class="bb9" href="javascript:viod(0)">전화번호로 로그인</a>
                          <a class="bb9" style="margin-left: 20px;"
                              href="../TEST/forgotPassword.html">비밀번호가 생각나지 않으세요?</a>
                      </div>
                      <div><input class="a6" type="submit" value="로그인" onclick="location.href='http://192.168.43.224:5500/html/index.html'"/></a></div>

                      </form>
                  </div>

              </div>
          </div>
      </div></br>

      </div>
  </div>
</div>

    <footer class="first" id="bottom" style="clear : both;">
        <div class="second">
          회사소개 | 이용약관 | 개인정보처리방침 |사업자 정보확인 | 여기어때
          마케팅센터 | 액티비티 호스트센터 | HOTEL 여기어때
          |콘텐츠산업진흥법에의한 표시<br />
          <br />
          고객행복센터 1670-6250 오전 9시 - 새벽 3시, 점심시간: 오후 12시 - 오후
          1시<br /><br />
          (주) 여기어때컴퍼니<br /><br />
          주소 : 서울특별시 강남구 봉은사로 479, 479타워 11층<br />
          대표이사 : 박남수 | 사업자등록번호: 742-86-00224<br />
          통신판매번호 : 2017-서울강남-01779 | 관광사업자 등록번호: 제1026-24호<br />
          전화번호 : 1670-6250<br />
          전자우편주소 : skatn7979@gmail.com<br />
          Copyright GC COMPANY Corp. All rights reserved.<br />
          <hr id="bline" />
          <img src="../images/face.png" id="blogo" />
          <img src="../images/insta.png" id="blogo" />
        </div>
      </footer>
</body>
</html>