@charset "UTF-8";
body {
  margin: 0px;
}
#headdiv {
  margin-top: 5%;
  margin-left: 42%;
}
#chatdiv {
  width: 650px;
  height: 750px;

  margin-left: 15%;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 4px 4px 4px 4px #09dcdc;
}
#chatdiv::-webkit-scrollbar {
  width: 15px;
}
#chatdiv::-webkit-scrollbar-track {
  background-color: transparent;
}
#chatdiv::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #09dcdc;
}
#chatdiv::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
#dateline {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
#infoline {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  text-align: center;
  background: #09dcdc;
  height: 3%;
  border-radius: 15px 15px 15px 15px;
}
.chatline {
  width: 100%;
  margin-top: 5%;

  height: 15%;
}
#imgdiv {
  float: left;
  margin-left: 5%;
}
#namediv {
  float: left;
  margin-left: 3%;
}
#textdiv {
  float: left;
  margin-left: 8%;
  font-weight: bold;
}
#submitdiv {
  margin-left: 15%;
  margin-top: 0.5%;
}
#message {
  height: 55px;
  width: 560px;
  border-radius: 15px 15px 15px 15px;
}
