body {
  font-family: "Jua", sans-serif;
}
form {
  width: 100%;
  padding-right: 15%;
  padding-left: 15%;
  margin-right: auto;
  margin-left: auto;
}
button {
  color: white;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: #ff5a5f;
  border-radius: 5px;
  font-size: 17px;
  text-decoration: none;
  padding: 8px;
  border: none;
  font-size: 30px;
}
