@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "footer.css";
@import "menu.css";
@import "reset.css";
@import "style.css";

/*폰트적용*/
body {
    font-family: "Jua", sans-serif;
}

.theme_search_container .theme_image {
    align-items: center;
    text-align: center;
    opacity: 0.9;
    height: 400px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.theme_search_container {
    padding-top: 150px;
    padding-bottom: 120px;
}

.theme_search_container .single_trip {
    margin-bottom: 30px;
}

.theme_search_container .single_trip .thumb {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.theme_search_container .single_trip .thumb img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.theme_search_container .single_trip .info {
    font-family: "Jua", sans-serif;
    padding-top: 16px;
}

.theme_search_container .single_trip .info .date span {
    font-family: "Jua", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #7a838b;
    display: block;
}

.theme_search_container .single_trip .info a h3 {
    font-family: "Jua", sans-serif;
    color: #040e27;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 10px;
}

.popular_destination_area .single_destination2:hover .info a p {
    font-family: "Jua", sans-serif;
    font-size: 20px;
    color: #ff4a52;
}

#theme_title .theme_title {
    font-family: "Jua", sans-serif;
    color: #ff4a52;
}

.single_trip:hover .info a h5 {
    color: #ff4a52;
}
.btn1 {
    color: white;
    width: auto;
    height: auto;
    border-radius: 5px;
    font-weight: 300;
    font-size: 25px;
    text-decoration: none;
    padding: 6px;
    border: none;
    margin-top: 14px;
    margin-bottom: 25px;
    background-color: #ff5a5f;
    padding-top: 10px;
}