@charset "utf-8";
body {
    font-family: "Jua", sans-serif;
}
.form {
    padding-top: 150px;
    padding-bottom: 120px;
    align-content: center;
}
@media (max-width: 767px) {
    .form {
        padding: 60px 0;
    }
}
.form .hostimage img {
    width: 50px;
    height: 50px;
}
.form .name {
    text-align: right;
}
.form .hostregister {
    text-align: left;
}
/*RESET*/

.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.white_content {
    text-align: center;
    display: none;
    position: fixed;
    top: 10%;
    left: 530px;
    right: 50px;
    bottom: 10%;
    width: 45%;
    height: 75%;
    padding: 16px;
    border: 5px solid #ff5a5f;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}
.my__join__create {
    background-color: white;
    text-align: center;
    width: 570px;
    height: 350px;
    padding: 30px;
}
.my__join__close {
    text-decoration: none;
}

.my__join__close svg {
    color: black;
}

.my__join__close svg:hover {
    border-radius: 5px;
    border: 2px solid rgb(90, 87, 87);
}

.my__login__facebook {
    display: inline-block;
    width: 510px;
    height: 45px;
    background-color: #4568b2;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    padding: 8px;
}

.my__login__google {
    display: inline-block;
    width: 510px;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(90, 87, 87);
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    padding: 8px;
    color: black;
}
svg {
    overflow: visible;
}

.or {
    margin-top: 10px;
    font-weight: bold;
    color: #999;
}

.my__join__line1 {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 18px;
    margin: 8px 0px;
    margin-top: 18px;
}
.my__join__line1::before,
.my__join__line1::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}

.gg1 {
    margin-right: 22px;
}

.gg2 {
    margin-left: 22px;
}

.gg3 {
    margin-top: 10px;
    font-weight: bold;
    color: #999;
}
.iemail {
    margin-top: 18px;
    width: 89%;
    height: 45px;
    font-size: 18px;
    padding: 8px;
}
.ipassword {
    margin-top: 18px;
    width: 89%;
    height: 45px;
    font-size: 18px;
    padding: 8px;
}
.icpassword {
    margin-top: 18px;
    width: 89%;
    height: 45px;
    font-size: 18px;
    padding: 8px;
}
.iname {
    margin-top: 18px;
    width: 89%;
    height: 45px;
    font-size: 18px;
    padding: 8px;
}
.itel {
    margin-top: 18px;
    width: 89%;
    height: 45px;
    font-size: 18px;
    padding: 8px;
}
.checks {
    position: relative;
    margin: 30px 0px 10px 0px;
}
.checks input[type="checkbox"] {
    /* 실제 체크박스는 화면에서 숨김 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.checks input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.checks input[type="checkbox"] + label:before {
    /* 가짜 체크박스 */
    content: " ";
    display: inline-block;
    width: 21px; /* 체크박스의 너비를 지정 */
    height: 21px; /* 체크박스의 높이를 지정 */
    line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #fafafa;
    border: 1px solid #cacece;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}
.checks input[type="checkbox"] + label:active:before,
.checks input[type="checkbox"]:checked + label:active:before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.checks input[type="checkbox"]:checked + label:before {
    /* 체크박스를 체크했을때 */
    content: "\2714"; /* 체크표시 유니코드 사용 */
    color: #99a1a7;
    text-shadow: 1px 1px #fff;
    background: #e9ecee;
    border-color: #adb8c0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.my__join__email {
    color: white;
    display: inline-block;
    width: 510px;
    height: 45px;
    background-color: #ff5a5f;
    border-radius: 5px;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    padding: 8px;
    border: none;
    margin-top: 18px;
    margin-bottom: 25px;
}

.ff7 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    margin-left: 31px;
}

.ff7 span {
    color: rgb(95, 93, 93);
}

.my__login__link {
    color: #008489;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}
.my__login__link:hover {
    text-decoration: underline;
}
.loginMove {
    margin-bottom: 30px;
}
.login {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

.a {
    background-color: white;
    width: 570px;
    height: 600px;
    text-align: center;
}

.a1 {
    text-decoration: none;
}

.a1 svg {
    margin-top: 34px;
    margin-left: 33px;
    color: black;
}
.a1 svg:hover {
    border-radius: 5px;
    border: 2px solid rgb(90, 87, 87);
    width: 500px;
}

.bb1 {
    margin-top: 18px;
    display: inline-block;
    width: 510px;
    height: 45px;
    background-color: #64dd17;
    color: black;
    border-radius: 5px;
    font-size: 17px;
    text-decoration: none;
    padding: 8px;
}

.bb2 {
    display: inline-block;
    width: 510px;
    height: 45px;
    background-color: #ffea00;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 17px;
    text-decoration: none;
    padding: 8px;
    color: black;
}

svg {
    overflow: visible;
}

.a2 {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.a3 {
    position: relative;
}

.bb4 {
    margin-top: 10px;
    font-weight: bold;
    color: #999;
}

.bb3 {
    margin-right: 22px;
}

.bb5 {
    margin-left: 22px;
}

.bb6 {
    width: 89%;
    height: 45px;
    font-size: 18px;
}

.bb7 {
    position: absolute;
    font-size: 18px;
    right: 50px;
    top: 15px;
}

.a4 {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    margin-left: 31px;
}

.bb8 {
    color: #008489;
    text-decoration: none;
}

.bb8:hover {
    text-decoration: underline;
}

.bb9 {
    color: #008489;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
}

.a5 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 31px;
    margin-top: 20px;
    text-align: center;
}

.a5 span {
    margin-top: -12px;
    font-weight: bold;
    font-size: 20px;
}

.bb9:hover {
    text-decoration: underline;
}

.a6 {
    color: white;
    display: inline-block;
    width: 510px;
    height: 45px;
    background-color: #ff5a5f;
    border-radius: 5px;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    padding: 8px;
    border: none;
    font-size: 30px;
}

.a7 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    margin-left: 31px;
}

.a7 span {
    color: rgb(95, 93, 93);
}

.bb10 {
    color: #008489;
    text-decoration: none;
    font-weight: bold;
    height: 20px;
}

.bb10:hover {
    text-decoration: underline;
}
.filebox {
    text-align: center;
    width: 100%;
    height: 75%;
}
.addregister {
    text-align: center;
}
.image_container {
    text-align: center;
}
.filebox label {
    color: white;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #ff5a5f;
    border-radius: 5px;
    font-weight: 300;
    font-size: 17px;
    text-decoration: none;
    padding: 8px;
    border: none;
    margin-top: 18px;
    margin-bottom: 25px;
}

.filebox input:focus {
    outline: 0;
}

.filebox select {
    color: white;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #ff5a5f;
    border-radius: 5px;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    padding: 8px;
    border: none;
    margin-top: 18px;
    margin-bottom: 25px;
}
.filebox label:hover {
    background-color: #abad30;
}

.filebox label:active {
    background-color: #d8b873;
}

.filebox input[type="file"] {
    position: sticky;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.addphone {
    text-align: center;
}
.slider_area {
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 지역별 박스 각도 변경 */
.popular_destination_area .single_destination1 {
    position: relative;
    margin-left: 25px;
    margin-bottom: 40px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.popular_destination_area .single_destination1:before {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#040e27+0,040e27+100&0+0,0.7+100
    background: -moz-linear-gradient(
      top,
      rgba(4, 14, 39, 0) 0%,
      rgba(4, 14, 39, 0.7) 100%
    );
    */
    /* FF3.6-15
    background: -webkit-linear-gradient(
      top,
      rgba(4, 14, 39, 0) 0%,
      rgba(4, 14, 39, 0.7) 100%
    );
    */
    /* Chrome10-25,Safari5.1-6
    background: linear-gradient(
      to bottom,
      rgba(4, 14, 39, 0) 0%,
      rgba(4, 14, 39, 0.7) 100%
    );
    */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00040e27', endColorstr='#b3040e27',GradientType=0 );
    /* IE6-9 */
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

/* line 30, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination1 .thumb img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* line 35, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination1 .content {
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 0;
}

/* line 40, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination1 .content p {
    margin-bottom: 0;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* line 47, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination1 .content p a {
    display: inline-block;
    background: #1ec6b6;
    font-size: 12px;
    border-radius: 30px;
    font-weight: 400;
    padding: 0px 12px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    margin-left: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* line 62, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination1:hover {
    -webkit-transform: translate(100px, -100px) scale(0.6) rotate(10deg);
    -moz-transform: translate(100px, -100px) scale(0.6) rotate(10deg);
    -ms-transform: translate(100px, -100px) scale(0.6) rotate(10deg);
    -o-transform: translate(100px, -100px) scale(0.6) rotate(10deg);
    transform: translate(100px, -100px) scale(0.6) rotate(10deg);
    border: 5px solid white;
}

/* line 65, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination1:hover .content p {
    color: #ff4a52;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* line 68, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination1:hover .content p a {
    background: #ff4a52;
    color: #fff;
}

/* 지원 호스팅 css */
.popular_destination_area .single_destination2 {
    position: relative;
    margin-left: 25px;
    margin-bottom: 40px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 2;
}
.popular_destination_area .single_destination2:before {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#040e27+0,040e27+100&0+0,0.7+100
    background: -moz-linear-gradient(
      top,
      rgba(4, 14, 39, 0) 0%,
      rgba(4, 14, 39, 0.7) 100%
    );
    */
    /* FF3.6-15
    background: -webkit-linear-gradient(
      top,
      rgba(4, 14, 39, 0) 0%,
      rgba(4, 14, 39, 0.7) 100%
    );
    */
    /* Chrome10-25,Safari5.1-6
    background: linear-gradient(
      to bottom,
      rgba(4, 14, 39, 0) 0%,
      rgba(4, 14, 39, 0.7) 100%
    );
    */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00040e27', endColorstr='#b3040e27',GradientType=0 );
    /* IE6-9 */
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

/* line 30, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination2 .thumb img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* line 35, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination2 .content {
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 0;
}

/* line 40, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination2 .content p {
    margin-bottom: 0;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* line 47, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination2 .content p a {
    display: inline-block;
    background: #1ec6b6;
    font-size: 12px;
    border-radius: 30px;
    font-weight: 400;
    padding: 0px 12px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    margin-left: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* line 62, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination2:hover {
    /*
    -webkit-transform: translate(100px, -100px) scale(0.6) rotate(22deg);
    -moz-transform: translate(100px, -100px) scale(0.6) rotate(22deg);
    -ms-transform: translate(100px, -100px) scale(0.6) rotate(22deg);
    -o-transform: translate(100px, -100px) scale(0.6) rotate(22deg);
    transform: translate(100px, -100px) scale(0.6) rotate(22deg);
    */
    transform: scale(1.2);
}

/* line 65, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination2:hover .content p {
    color: #ff4a52;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* line 68, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_destination.scss */
.popular_destination_area .single_destination2:hover .content p a {
    background: #ff4a52;
    color: #fff;
}
.goodtext {
    text-align: center;
    word-break: keep-all;
}
.content1 {
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
}
.popular_destination_area .goodtext:hover {
    color: #ff4a52;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    transform: scale(1.2);
}
.row1 {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
    width: 60%;
    padding: 10px;
}
header {
    padding: 20px;
    background: rgb(025, 025, 025);
}
@media screen and (max-width: 768px) {
    header {
        display: flex;
    }
}
.thumb1 {
    padding-right: 40px;
}
p {
    font-family: "Jua", sans-serif;
}
.menudiv3-1 {
    float: right;
    padding-top: 10px;
}
@media screen and (max-width: 768px) {
    .menudiv3-1 {
        display: none;
    }
}
a:hover {
    color: #ff4a52;
}
button {
    color: white;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #ff5a5f;
    border-radius: 5px;
    font-size: 17px;
    text-decoration: none;
    padding: 8px;
    border: none;
    font-size: 30px;
}