input {
  text-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #046b6b;
  text-align: center;
  white-space: nowrap;
  background-color: #09dcdc;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
a {
}
.form {
  text-align: center;
}
.locationtitle {
  padding-top: 20px;
  padding-bottom: 20px;
}
.locationtitle4 {
  border-radius: 10px;
}
.locationtitle5 {
  text-align: center;
}
