@charset "UTF-8";
.menudiv1 {
  background: white;
  height: 130px;
  width: 100%;
  position: sticky;
  z-index: 100;
  top: 0em;
  box-shadow: 2px 2px 2px 2px gray;
  text-align: center;
}
.menudiv2-1 {
  float: left;
  margin-top: 2%;
  margin-left: 2%;
}
.menudiv2-1 label {
  font-size: 15px;
  font-weight: bold;
  color: #ff5a5f;
}
.menudiv2-2 {
  overflow: hidden;
  margin-left: 65%;
  padding-top: 20px;
}
.menudiv3-1 {
  float: none;
}
#menuItems {
  list-style: none;
}
.item {
  float: left;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 23px;
}
.menudiv3-2 {
  margin-left: 100px;
  float: left;
}

#menubar {
  height: 60px;
  width: 60px;
}
