@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "footer.css";
@import "menu.css";
@import "reset.css";
@import "style.css";

/* 폰트 적용 */
body {
  font-family: "Jua", sans-serif;
}

.right_container {
  width: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.payment_info_container {
  width: 40%;
  border-right: 1px solid gray;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.payment_info_container .payment_image img {
  width: 80%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.payment_info {
  align-items: center;
  text-align: center;
}

.total_container {
  display: flex;
}

.payment_info_table {
  width: 80%;
  margin-top: 2vh;
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 5px;
}

.right_container {
  display: flex;
  padding-left: 150px;
}

/* 숙소 이용규칙 확인 */
.room_policy {
  width: 500px;
  padding: 15px;
  border: 1px solid gray;
}
.room_policy i {
  margin-right: 10px;
  margin-bottom: 10px;
}
.room_reservation_day {
  border: 1px solid gray;
  margin-top: 40px;
  padding: 15px;
  width: 500px;
  display: flex;
}
.room_reservation_day i {
  margin-right: 10px;
}

.room_reservation_day #li-margin-bottom {
  margin-bottom: 10px;
}

.warning-icons {
  display: flex;
  margin-top: 40px;
  width: 800px;
}

.warning-icons li i {
  margin-right: 15px;
}

.warning-icons li span {
  font-size: 25px;
}
@media screen and (max-width: 1200px) {
  .total_container {
    margin-left: 25%;
    display: block;
  }
  .payment_info_container {
    width: 100%;
    border-right: 0px;
    margin-bottom: 50px;
  }
  .payment_info_table {
    width: 500px;
  }
  .right_container {
    width: 100%;
    margin-top: 5%;
    padding-left: 0px;
    margin-left: 0px;
  }
  .payment_image {
    width: 630px;
  }
}
@media screen and (max-width: 800px) {
  .total_container {
    margin-left: 0px;
  }
}
