@charset "UTF-8";
@import "font-awesome.min.css";
body {
  font-family: "Jua", sans-serif;
  text-align: center;
}
label1 {
  color: #ff5a5f;
  display: inline-block;
  width: 370px;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
  padding: 8px;
  border: none;
}
input {
  background: black;
  width: 370px;
  height: 38px;
  line-height: 38px;
  border: 0;
  font-size: 12px;
  color: white;
  padding: 0px 15px;
  margin: 0 0 16px 0;
  outline: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
button {
  color: white;
  display: inline-block;
  width: 89%;
  height: auto;
  background-color: #ff5a5f;
  border-radius: 5px;
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
  padding: 8px;
  border: none;
  margin-top: 18px;
  margin-bottom: 25px;
}
