.leftform {
  float: left;
  text-align: center;
  border: 3px solid #ff5a5f;
  width: auto;
  height: auto;
  padding: 82px;
  margin-top: 4%;
  margin-left: 8%;
}
.rightform {
  float: right;
  text-align: center;
  border: 3px solid #ff5a5f;
  width: auto;
  height: auto;
  padding: 100px;
  margin-top: 4%;
  margin-right: 10%;
}
.register1 {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 90%;
}
.a111 {
  color: white;
  display: inline-block;
  width: 500px;
  height: 45px;
  background-color: #ff5a5f;
  border-radius: 5px;
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
  padding: 8px;
  border: none;
  font-size: 30px;
  text-align: center;
}
label {
  color: white;
  display: flexbox;
  width: auto;
  height: auto;
  background-color: #ff5a5f;
  border-radius: 5px;
  font-weight: 300;
  font-size: 17px;
  text-decoration: none;
  padding: 8px;
  border: none;
  margin-top: 18px;
  margin-bottom: 25px;
  text-align: center;
}
button {
  color: white;
  display: inline-block;
  width: 500px;
  height: auto;
  background-color: #ff5a5f;
  border-radius: 5px;
  font-weight: 300;
  font-size: 30px;
  text-decoration: none;
  padding: 8px;
  border: none;
  margin-top: 18px;
  margin-bottom: 25px;
}
.idbtn {
  width: 20%;
  height: auto;
  font-size: 10px;
}

.iid {
  width: 65%;
  height: 45px;
  font-size: 18px;
}
