body{
    font-family: "Jua", sans-serif;
}

hr{
   	float: left;
 	width: 58%;
 	color : black;
}

main{
    margin : 2% 0 10%;
}

.containerr{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto
}

.searchZone{
    margin-bottom : 2%;
}

.searchOptions{
    text-align : center;
}

.searchConditions{
    margin-left : 3%;
}

#searchDetails{
    margin-right : 2%;
    float : right;
}

.hiddenDetails{
    display : none;
    margin-bottom : 10;
}
.hiddenDetails table {
    display : none;
}

#map{
    position : sticky;
    width : 40%;
    height : 600px;
    right : 0;
    left : 0;
    bottom : 0;
    float : right;
  	overflow : hidden;
  	z-index : 20;
}

.houseList {
	float : left;
  	display: table-cell;
  	text-align: left;
  	width : 58%;
  	color: black;
  	padding : 5px 0 5px;
  	border-bottom : 1px solid gray;
}

.littleImg{
    width : 120px;
    height : 120px;
    float : left;
    margin-right: 8px;
}

footer {
    clear : left;
    z-index : 999;
}

.hidden{
    display : none;
}

.mapComment {
    float : none;
}

.house_name{
	color : black;
	align: center;
}