@charset "UTF-8";
body {
  box-sizing: border-box;
}
.leftform {
  float: left;
  text-align: center;
  width: auto;
  height: auto;
  padding: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 7%;
  margin-left: 12%;
  margin-bottom: 3%;
}
.rightform {
  float: right;
  text-align: center;
  width: auto;
  height: auto;
  padding: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 3%;
  margin-right: 12%;
  margin-bottom: 3%;
}
.register1 {
  float: left;
}
.a111 {
  color: white;
  display: inline-block;
  width: 500px;
  height: 45px;
  background-color: #ff5a5f;
  border-radius: 5px;
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
  padding: 8px;
  border: none;
  font-size: 30px;
  text-align: center;
}

button {
  color: white;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: #ff5a5f;
  border-radius: 5px;
  font-weight: 300;
  font-size: 30px;
  text-decoration: none;
  padding: 8px;
  border: none;
  margin-top: 18px;
  margin-bottom: 25px;
}
.idbtn {
  width: 20%;
  height: auto;
  font-size: 10px;
}
.iid {
  width: 65%;
  height: 45px;
  font-size: 18px;
}
.itel {
  width: 89%;
  height: 45px;
  font-size: 18px;
}
.iauth {
  margin-top: 18px;
  width: 89%;
  height: 45px;
  font-size: 18px;
  padding: 8px;
}
h3,
h4 {
  color: #046b6b;
}
button:hover {
  background-color: #09dcdc;
}

#emailAuthBtn {
  padding-top: 10px;
  font-size: 25px;
  font-weight: bold;
  width: 89%;
  color: white;
  display: inline-block;
  width: 89%;
  height: auto;
  background-color: #ff5a5f;
  border-radius: 5px;
  font-weight: 300;
  font-size: 30px;
  text-decoration: none;
  padding: 8px;
  border: none;
  margin-top: 18px;
  margin-bottom: 25px;
  text-align: center;
}
#emailAuthBtn:hover {
  background-color: #09dcdc;
}
@media (max-width: 1815px) {
  .loginform {
    display: flex;
  }
  .filebox {
    height: 15%;
  }
  .register1 {
    margin-left: 40%;
  }
}
@media (max-width: 1200px) {
  .loginform {
    position: static;
  }
  .leftform {
    padding-left: 0px;
    padding-right: 5%;
    margin-left: 5%;
  }
  .rightform {
    padding-left: 5%;
    padding-right: 0px;
    margin-right: 0px;
  }
}
