/*===================================
============= Contact ===============
===================================*/
body {
  font-family: "Jua", sans-serif;
}
#contact {
  background: #f06c64;
  overflow: hidden;
  border-bottom: 6px solid #ea676b;
}

#contact h2,
#contact h3,
#contact h4,
#contact p,
#contact span {
  color: #f0d8d9;
}

#contact ul {
  padding: 44px 0 0 0;
  overflow: hidden;
}

#contact ul li {
  float: left;
  display: inline;
  max-width: 300px;
  padding: 0 0 0 10px;
}

#contact ul li:first-child {
  padding: 0 10px 0 0;
  max-width: 620px;
}

form {
}
#trip-start {
  background: #d6564f;
  max-width: 250px;
  width: 250px;
  height: 38px;
  line-height: 38px;
  border: 0;
  font-size: 12px;
  color: #f48c8f;
  font-family: "Jua", sans-serif;
  padding: 0px 15px;
  margin: 0 0 16px 0;
  outline: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

#trip-end {
  background: #d6564f;
  max-width: 250px;
  width: 250px;
  height: 38px;
  line-height: 38px;
  border: 0;
  font-size: 12px;
  color: #f48c8f;
  font-family: "Jua", sans-serif;
  padding: 0px 15px;
  margin: 0 0 16px 0;
  outline: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

input {
  background: #d6564f;
  max-width: 590px;
  width: 590px;
  height: 38px;
  line-height: 38px;
  border: 0;
  font-size: 12px;
  color: #f48c8f;
  padding: 0px 15px;
  margin: 0 0 16px 0;
  outline: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-family: "Jua", sans-serif;
}

textarea {
  background: #d6564f;
  max-width: 590px;
  width: 590px;
  height: 202px;
  max-height: 202px;
  border: 0;
  padding: 15px;
  margin: 0 0 16px 0;
  outline: none;
  overflow: auto;
  resize: none;
  font-size: 12px;
  color: #f48c8f;
  font-family: "Jua", sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.submitbtn {
  padding: 0;
  margin: 0;
  background: #d6564f;
  overflow: hidden;
  width: 110px;
  line-height: 38px;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: #f48c8f;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  font-family: "Jua", sans-serif;
}

.submitbtn:hover {
  background: #2d303a;
  color: #666d89;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#contact p {
  margin: 0 0 25px 0;
  text-align: justify;
}

#contact span {
  display: block;
  font-size: 12px;
  margin: 0 0 6px 0;
}

#contact span i {
  font-family: "fontello";
  margin: 0 10px 0 0;
  font-weight: normal;
  font-style: normal;
  vertical-align: middle;
}

#contact span i.li_location {
  font-family: "linecons";
}

.li_location:before {
  content: "\e012";
}
.icon-mail:before {
  content: "\e806";
}
.icon-phone:before {
  content: "\e805";
}
