@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css";

body {
    font-family: "Jua", sans-serif;
}
.admin_footer {
    width: 100%;
    height: 100px;
    vertical-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
}
.admin_image_container {
    padding-top: 20px;
    width: 50px;
    height: 50px;
}

.admin_image_container img {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.admin_phone_num_container {
    width: 400px;
    padding-top: 30px;
}

.total_container {
    display: flex;
    margin-top: 10%;
}
.total_container .table-responsive {
    margin: 5%;
}
.table-responsive .blacklist-id-search-form {
    margin-bottom: 20px;
    display: inline-block;
}

#sidediv {
    width: 300px;
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 3%;
    margin-left: 5%;
    float: left;
    height: 300px;
}
#sidemenu {
    list-style: none;
}

#topmenu {
    color: red;
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}

.content {
    margin-top: 10%;
    margin-left: 8%;
    text-align: center;
}

.littleImg {
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 3%;
}

div hr {
    float: left;
    width: 73%;
}

footer {
    clear: both;
}

.hostList {
    margin-top: 3%;
    text-align: center;
    padding-right: 4%;
}

.hostList li {
    margin-bottom: 1%;
}

.removeBtn {
    right: 5%;
}
.blackmenu {
    margin-left: 75%;
}
P {
    color: #ff5a5f;
    font-size: 35px;
}
label {
    font-weight: bold;
    color: #ff5a5f;
    font-size: 25px;
}
input[type="submit"] {
    color: white;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #ff5a5f;
    border-radius: 5px;
    font-weight: 200;
    font-size: 17px;
    text-decoration: none;
    padding: 8px;
    border: none;
    margin-top: 18px;
    margin-bottom: 25px;
}
input[type="submit"]:hover {
    color: black;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #ff5a5f;
    border-radius: 5px;
    font-weight: 200;
    font-size: 17px;
    text-decoration: none;
    padding: 8px;
    border: none;
    margin-top: 18px;
    margin-bottom: 25px;
}
input[type="button"] {
    color: white;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #ff5a5f;
    border-radius: 5px;
    font-weight: 200;
    font-size: 17px;
    text-decoration: none;
    padding: 8px;
    border: none;
    margin-top: 18px;
    margin-bottom: 25px;
}
input[type="button"]:hover {
    color: black;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #ff5a5f;
    border-radius: 5px;
    font-weight: 200;
    font-size: 17px;
    text-decoration: none;
    padding: 8px;
    border: none;
    margin-top: 18px;
    margin-bottom: 25px;
}
td {
    color: black;
    font-weight: bold;
    font-size: 3px;
}
#admin_singo_main {
    margin-left: 10%;
    margin-top: 1%;
}
header {
    text-align: center;
    padding: 20px;
    background-color: black;
    vertical-align: middle;
}
ul {
    float: right;
}
li {
    color: #ff5a5f;
}
.item,
a {
    z-index: 100;
    color: black;
}