<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kg.air.cnc.dao.blacklist.BlackListDAO">

    <select id="getBlackList" resultType="kg.air.cnc.vo.BlackUserVO">
        SELECT * FROM blacklist
    </select>

    <select id="getBlackSearchId" resultType="kg.air.cnc.vo.BlackUserVO">
        SELECT * FROM blacklist WHERE black_email = #{blackSearchEmail}
    </select>

    <delete id="deleteBlackList">
        DELETE FROM blacklist WHERE black_email = #{blackEmail}
    </delete>
    
    <select id="getWeeklyAddedBlackList" resultType="int">
        SELECT COUNT (*) FROM blacklist WHERE regdate >= TO_CHAR(SYSDATE-7, 'YYYYMMDD')
    </select>

    <select id="getMonthlyAddedBlackList" resultType="int">
        SELECT COUNT (*) FROM blacklist WHERE regdate BETWEEN TO_DATE(ADD_MONTHS(sysdate, -1)) AND sysdate
    </select>

    <select id="getTotalBlackList" resultType="int">
        SELECT COUNT(*) FROM blacklist
    </select>
</mapper>