<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kg.air.cnc.dao.blame.BlameDAO">
    <select id="getBlameList" resultType="kg.air.cnc.vo.blame.BlameVO">
        SELECT * FROM blame
    </select>

    <select id="getBlameInfo" resultType="kg.air.cnc.vo.blame.BlameVO">
        SELECT * FROM blame WHERE target_member_id = #{target_member_id}
    </select>
</mapper>