<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommentsDAO">

	<insert id="insertComments" parameterType="kg.air.cnc.vo.CommentsVO">
		<selectKey keyProperty="comments_seq" resultType="int" order="BEFORE">
			SELECT comments_seq.nextval FROM dual
		</selectKey>
		INSERT INTO comments(comments_seq, comments_id, comments_house_seq, comments_content, comments_rate)
		values(#{comments_seq}, #{comments_id}, #{comments_house_seq}, #{comments_content}, #{comments_rate})
	</insert>

	<select id="getComments" parameterType="kg.air.cnc.vo.ReservationHouseDetailVO" resultType="kg.air.cnc.vo.CommentsVO">
		SELECT comments_seq, comments_id, comments_content, c.customer_name as comments_name, comments_rate, comments_regdate, 
		(select customer_image from customer where customer_id = comments_id) as comments_image FROM comments
		JOIN customer c ON comments_id = customer_id WHERE comments_house_seq = #{house_seq}  ORDER BY comments_seq DESC
	</select>
	<select id="getCommentsForMe" parameterType="String" resultType="kg.air.cnc.vo.MyCommentsVO" >
	  select comments_seq, comments_id, h.house_name as house_name, comments_content, comments_rate, to_char(comments_regdate,'yyyy/MM/dd') as comments_regdate from
  	  comments join house_info h on comments_house_seq = h.house_seq where h.house_host_id = #{value} order by comments_seq
	</select>
	<select id="getMyComments" parameterType="String" resultType="kg.air.cnc.vo.MyCommentsVO" >
		  select comments_seq, comments_id, h.house_name as house_name, comments_content, comments_rate, to_char(comments_regdate,'yyyy/MM/dd') as comments_regdate from
  	  	comments join house_info h on comments_house_seq = h.house_seq where comments_id = #{value} order by comments_seq
	</select>
	<update id="updateComments" parameterType="kg.air.cnc.vo.CommentsVO">
		UPDATE comments SET comments_content = #{comments_content}, comments_rate = #{comments_rate} WHERE comments_seq = #{comments_seq}
	</update>
	<delete id="deleteComments" parameterType="kg.air.cnc.vo.CommentsVO">
		DELETE FROM comments WHERE comments_seq = #{comments_seq}
	</delete>

	

</mapper>
