<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customer">

	<insert id="register" parameterType="kg.air.cnc.vo.CustomerVO">
		INSERT INTO customer
		VALUES(
			#{customer_id}, 
			#{customer_password}, 
			#{customer_name}, 
			#{customer_email}, 
			DEFAULT, 
			#{customer_image},
			#{customer_phone},
			DEFAULT, 
			DEFAULT,
			SYSDATE,
			#{customer_key},
			DEFAULT,
			DEFAULT,
			DEFAULT, 
			DEFAULT,
			DEFAULT,
			#{customer_refund_account},
			#{customer_refund_bank}
			)
	</insert>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM customer WHERE customer_id = #{customer_id}
	</select>
	
	<select id="createEmailCheck" resultType="int" parameterType="String">
		SELECT COUNT(customer_email) FROM customer WHERE customer_email = #{customer_email}
	</select>
	
	<select id="customerCheck" resultType="kg.air.cnc.vo.CustomerVO" parameterType="String">
		SELECT customer_id, customer_password FROM customer WHERE customer_id = #{customer_id}
	</select>
	
	<select id="login" resultType="kg.air.cnc.vo.CustomerVO" parameterType="String">
		SELECT customer_id FROM customer WHERE customer_id = #{customer_id}
	</select>
	
	<update id="keepLogin">
		UPDATE customer SET session_id = #{session_id}, session_limit = #{session_limit} WHERE customer_id = #{customer_id}
	</update>
	
	<select id="checkCustomerWithSessionKey" resultType="kg.air.cnc.vo.CustomerVO">
		<![CDATA[
			SELECT customer_id, customer_password, customer_name, customer_email, customer_type, customer_image, customer_phone, customer_blame_warn, customer_blame_stop, customer_regdate, customer_key, session_id, session_limit, customer_stop_end_date, customer_status FROM customer WHERE session_id = #{session_id} AND session_limit > sysdate
		]]>
	</select>
	
	<update id="changePassword">
		UPDATE customer SET customer_password = #{customer_password} WHERE customer_email = #{customer_email}
	</update>
	
	<select id="blacklistEmailCheck" resultType="int" parameterType="kg.air.cnc.vo.CustomerVO">
		SELECT COUNT(black_email) FROM blacklist WHERE black_email = #{customer_email}
	</select>
	
	<select id="getCustomerInfo" resultType="kg.air.cnc.vo.CustomerVO" parameterType="String">
		SELECT * FROM customer WHERE customer_id = #{customer_id}
	</select>
	
	<update id="customerInfoUpdate">
		UPDATE customer SET customer_name = #{customer_name}, customer_phone = #{customer_phone}, customer_email = #{customer_email}, customer_image = #{customer_image} WHERE customer_id = #{customer_id}
	</update>
	
	<update id="modifyPassword">
		UPDATE customer SET customer_password = #{customer_password} WHERE customer_id = #{customer_id}
	</update>
	
	<select id="passwordCheck" resultType="String" parameterType="String">
		SELECT customer_password FROM customer WHERE customer_id = #{customer_id}
	</select>
	
	<delete id="customerWithdrawal">
		DELETE FROM customer WHERE customer_id = #{customer_id}
	</delete>

	<insert id="hostRegister" parameterType="kg.air.cnc.vo.HostVO">
		INSERT INTO host
		VALUES(
			#{host_id}, 
			#{host_name}, 
			#{host_password}, 
			#{host_email}, 
			#{host_image}, 
			#{host_phone},
			#{host_account},
			SYSDATE, 
			DEFAULT,
			DEFAULT,
			DEFAULT,
			DEFAULT,
			#{host_account_name}
			)
	</insert>
	
	<update id="changeCustomerType">
		UPDATE customer SET customer_type = #{customer_type} WHERE customer_id = #{customer_id}
	</update>
</mapper>
