<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customer">

	<insert id="register" parameterType="kg.air.cnc.customer.vo.CustomerVO">
		INSERT INTO customer
		VALUES(
			#{customer_id}, 
			#{customer_password}, 
			#{customer_name}, 
			#{customer_email}, 
			DEFAULT, 
			#{customer_image},
			#{customer_phone},
			DEFAULT, 
			DEFAULT,
			SYSDATE,
			#{customer_key},
			DEFAULT,
			DEFAULT,
			DEFAULT, 
			DEFAULT)
	</insert>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM customer WHERE customer_id = #{customer_id}
	</select>
	
	<select id="createEmailCheck" resultType="int" parameterType="String">
		SELECT COUNT(customer_email) FROM customer WHERE customer_email = #{value}
	</select>
	
	<select id="customerCheck" resultType="kg.air.cnc.customer.vo.CustomerVO" parameterType="String">
		SELECT customer_id, customer_password FROM customer WHERE customer_id = #{customer_id}
	</select>
	
	<select id="login" resultType="kg.air.cnc.customer.vo.CustomerVO" parameterType="String">
		SELECT customer_id FROM customer WHERE customer_id = #{customer_id}
	</select>
	
	<update id="keepLogin">
		UPDATE customer SET session_id = #{session_id}, session_limit = #{session_limit} WHERE customer_id = #{customer_id}
	</update>
	
	<select id="checkCustomerWithSessionKey" resultType="kg.air.cnc.customer.vo.CustomerVO">
		<![CDATA[
			SELECT customer_id, customer_password, customer_name, customer_email, customer_type, customer_image, customer_phone, customer_blame_warn, customer_blame_stop, customer_regdate, customer_key, session_id, session_limit, customer_stop_end_date, customer_status FROM customer WHERE session_id = #{session_id} AND session_limit > sysdate
		]]>
	</select>
</mapper>
