<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customer">
	<insert id="register" parameterType="kg.air.cnc.customer.vo.CustomerVO">
		INSERT INTO customer
		VALUES(
			#{customerId}, 
			#{customerPassword}, 
			#{customerName}, 
			#{customerEmail}, 
			DEFAULT, 
			#{customerImage},
			#{customerPhone},
			DEFAULT, 
			DEFAULT,
			SYSDATE,
			DEFAULT)
	</insert>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM customer WHERE customer_id = #{customerId}
	</select>
	
</mapper>
