<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HostHouseManageVO">

	<select id="getMyHouse" parameterType="String" resultType="kg.air.cnc.vo.ReservationHouseDetailVO">
		<![CDATA[select house_seq , house_photourl, house_name, house_status from house_info where house_host_id = #{value}]]> 
	</select>
	<select id="getMyHouseResList" parameterType="kg.air.cnc.vo.ReservationHouseDetailVO" resultType="kg.air.cnc.vo.HouseReservationMemberVO">
		<![CDATA[select reservation_seq,reservation_customer_id,reservation_house_seq, to_char(reservation_check_in,'yyyy/MM/dd') as reservation_check_in, to_char(reservation_check_out,'yyyy/MM/dd') as reservation_check_out, to_char(reservation_regdate,'yyyy/MM/dd') as reservation_regdate 
		,c.customer_name as customer_name, c.customer_image as customer_image, c.customer_email as customer_email, c.customer_phone as customer_phone
		from reservation join customer c on reservation_customer_id = c.customer_id where reservation_house_seq = #{house_seq} and reservation_check_in > sysdate ORDER BY reservation_seq]]>
	</select>
</mapper>
