<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="houseMap">
	<select id="getHouseList" parameterType="String" resultType="kg.air.cnc.vo.House_InfoVO">
		SELECT *
		FROM house_info
		WHERE house_location=#{location}
	</select>
	
	
	<select id="getPrice" parameterType="String" resultType="HashMap">
		SELECT MIN(house_price_default) AS minp, MAX(house_price_default) AS maxp
		FROM house_info
		WHERE house_location=#{location}
	</select>
	
	<select id="getDetail" parameterType="Map" resultType="kg.air.cnc.vo.House_InfoVO">
	<![CDATA[
		SELECT *
		FROM house_info
		WHERE house_default_wifi=#{wifi}
		AND house_condition_petok=#{pet}
		AND house_price_default>=#{minPrice}
		AND house_price_default<=#{maxPrice}
		AND house_condition_smokeok=#{smoking}
		AND house_default_parking=#{parking}
		AND house_default_laundry_washer=#{laundry}
		AND house_default_pool=#{pool}
		AND house_location=#{location}
		AND house_maxperson>=#{people}
		AND house_star>=#{star}
	]]>
	</select>
	
	<select id="getDetailPrice" parameterType="Map" resultType="HashMap">
	<![CDATA[
		SELECT NVL(MIN(house_price_default),0) AS minp, NVL(MAX(house_price_default),9999999) AS maxp
		FROM house_info
		WHERE house_default_wifi=#{wifi}
		AND house_condition_petok=#{pet}
		AND house_price_default>=#{minPrice}
		AND house_price_default<=#{maxPrice}
		AND house_condition_smokeok=#{smoking}
		AND house_default_parking=#{parking}
		AND house_default_laundry_washer=#{laundry}
		AND house_default_pool=#{pool}
		AND house_location=#{location}
		AND house_maxperson>=#{people}
		AND house_star>=#{star}
	]]>
	</select>
	
</mapper>
