<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">
	
	<resultMap type="kg.air.cnc.customer.vo.housereg.HouseVO" id="houseinfo">
		<id property="houseId" column="house_id" />
		<result property="houseName" column="house_name" />
		<result property="housePrice" column="house_price" />
		<result property="houseDesc" column="house_desc" />
		<result property="houseUrl" column="house_url"/>
	</resultMap>

	<select id="listProduct" resultType="kg.air.cnc.customer.vo.housereg.HouseVO">
	select
	house_id as houseId,
	house_name as houseName,
	house_price as housePrice,
	house_desc as houseDesc
	from imsi_housereg
	order by house_id
	</select>
	
	<select id="detailProduct" resultType="kg.air.cnc.customer.vo.housereg.HouseVO">
	select
	house_id as houseId,
	house_name as houseName,
	house_price as housePrice,
	house_desc as houseDesc
	from imsi_housereg
	where house_id=#{houseId}
	</select>
	
	<insert id="insertProduct" parameterType="kg.air.cnc.customer.vo.housereg.HouseVO">
	insert into imsi_housereg
	values(
	(select nvl(max(house_id), 0)+1 from imsi_housereg),#{houseName},#{housePrice},#{houseDesc})
	</insert>
</mapper>