<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LogDAO">

	<insert id="insertLog" parameterType="kg.air.cnc.vo.LogVO">
		<selectKey keyProperty="log_seq" resultType="int" order="BEFORE">
			SELECT log_seq.nextval FROM dual
		</selectKey>
		INSERT INTO loginfo(log_seq, log_id, log_content, log_type) values(#{log_seq}, #{log_id}, #{log_content}, #{log_type})
	</insert>
	<select id="getLogListForId" parameterType="kg.air.cnc.vo.LogVO" resultType="kg.air.cnc.vo.LogVO">
		<![CDATA[SELECT * from loginfo WHERE to_char(log_regdate,'YYYY-MM-DD') >= #{startDate} AND to_char(log_regdate,'YYYY-MM-DD') <= #{endDate} AND log_type = #{log_type} AND log_id = #{log_id} ORDER BY log_seq]]>
	</select>
	<select id="getLogList" parameterType="kg.air.cnc.vo.LogVO" resultType="kg.air.cnc.vo.LogVO">
	<![CDATA[SELECT * from loginfo WHERE to_char(log_regdate,'YYYY-MM-DD') >= #{startDate} AND to_char(log_regdate,'YYYY-MM-DD') <= #{endDate} AND log_type = #{log_type} ORDER BY log_seq]]>
	</select>
</mapper>
