<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noticeMapper">
	<select id="selectBoardList" resultType="kg.air.cnc.vo.BoardVO" >
    <![CDATA[
        SELECT
            *
        FROM
            (select rownum rnum, idx, title, writer, regDate
            from (select * from imsi_board order by idx desc))
        WHERE
        	rnum >= #{pageStart} and rnum <= (#{pageStart}+#{perPageNum}-1)

    ]]>
	</select>
	<select id="countBoardList" resultType="Integer">
    <![CDATA[
        SELECT
            count(*)
        FROM
            imsi_board
    ]]>
	</select>


	
	
	
	<select id="getBoardList" resultType="kg.air.cnc.vo.BoardVO">
		<![CDATA[
		SELECT idx, title, writer, regDate
		FROM (SELECT /*+INDEX_DESC(boardTest pk_board) */
				rownum rn, idx, title, writer, regDate
			from imsi_board where rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum}-1) * #{amount}
			ORDER BY idx DESC
		]]>
	</select>
	
	<select id="getContent" resultType="kg.air.cnc.vo.BoardVO">
		<![CDATA[
			SELECT *
			FROM imsi_board
			WHERE idx = #{idx}
		]]>
	</select>
	
	<select id="insertBoard">
		<![CDATA[
		INSERT INTO imsi_board(idx, title,writer,content,reg_date)
		VALUES(tmp_seq.NEXTVAL, #{title}, #{writer}, #{content})
		]]>
	</select>
	
	<update id="updateBoard">
		<![CDATA[
		UPDATE imsi_board SET
		title = #{title},
		content = #{content}
		WHERE idx = #{idx}
		]]>
	</update>

	<delete id="deleteBoard">
		<![CDATA[
		DELETE FROM imsi_board
		WHERE idx = #{idx}
		]]>
	</delete>
	
	<select id="getTotalCnt" resultType="int">
		SELECT count(*)
		FROM imsi_board
	</select>
</mapper>
