<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noticeMapper">
	<select id="selectBoardList" resultType="kg.air.cnc.vo.BoardVO" >
    <![CDATA[
        SELECT
            *
        FROM
            (select rownum rnum, idx, title, writer, regDate, content
            from (select * from imsi_board order by idx desc))
        WHERE
        	rnum >= #{pageStart} and rnum <= (#{pageStart}+#{perPageNum}-1)

    ]]>
	</select>
	<select id="countBoardList" resultType="Integer">
    <![CDATA[
        SELECT
            count(*)
        FROM
            imsi_board
    ]]>
	</select>

	<insert id="insertBoard" parameterType="kg.air.cnc.vo.BoardVO">
		<![CDATA[
		INSERT INTO imsi_board(idx, title,writer,content)
		VALUES(tmp_seq.NEXTVAL, #{title}, '관리자', #{content})
		]]>
	</insert>
	
	<select id="getNoticeListAdmin" resultType="kg.air.cnc.vo.BoardVO" >
    <![CDATA[
        SELECT
            *
        FROM
            (select rownum rnum, idx, title, writer, regDate, content
            from (select * from imsi_board order by idx desc))
        WHERE
        	rnum >= #{pageStart} and rnum <= (#{pageStart}+#{perPageNum}-1)

    ]]>
	</select>
	
	<select id="detailNotice" resultType="kg.air.cnc.vo.BoardVO">
	 <![CDATA[
		SELECT
			idx, title, writer, regDate, content
		FROM
			imsi_board
		WHERE
			idx=#{idx}
	]]>
	</select>
	
	<update id="updateNotice">
		<![CDATA[
		UPDATE 
			imsi_board 
		SET
			title = #{title},
			content = #{content}
		WHERE 
			idx = #{idx}
		]]>
	</update>
	
	<delete id="deleteNotice">
		<![CDATA[
		DELETE FROM 
			imsi_board
		WHERE
			idx = #{idx}
		]]>
	</delete>
	
	
	
	
	
	
	<select id="getBoardList" resultType="kg.air.cnc.vo.BoardVO">
		<![CDATA[
		SELECT idx, title, writer, regDate
		FROM (SELECT /*+INDEX_DESC(boardTest pk_board) */
				rownum rn, idx, title, writer, regDate
			from imsi_board where rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum}-1) * #{amount}
			ORDER BY idx DESC
		]]>
	</select>
	
	<select id="getContent" resultType="kg.air.cnc.vo.BoardVO">
		<![CDATA[
			SELECT *
			FROM imsi_board
			WHERE idx = #{idx}
		]]>
	</select>
	
	
	
	<select id="getTotalCnt" resultType="int">
		SELECT count(*)
		FROM imsi_board
	</select>
</mapper>
