<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kg.air.cnc.dao.theme.ThemeDAO">
    <select id="getThemeHouseList" resultType="kg.air.cnc.vo.House_InfoVO" parameterType="String">
        SELECT * FROM house_info WHERE ${value} = 'true' AND house_status = 0
    </select>

    <select id="getHighScoreHouseList" resultType="kg.air.cnc.vo.House_InfoVO">
        SELECT * FROM house_info WHERE house_status = 0 ORDER BY house_star DESC
    </select>



</mapper>