<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="waitingDAO">
	<!-- 등록 대기 house 목록 가지고 오기 -->
	<select id="getRegisterWaitingList" resultType="kg.air.cnc.vo.House_InfoVO">
		SELECT *
		FROM house_info
		WHERE house_status=3
	</select>
	<!-- 삭제 대기 house 목록 가지고 오기 -->
	<select id="getRemoveWaitingList" resultType="kg.air.cnc.vo.House_InfoVO">
		SELECT h.house_seq as house_seq, h.house_name as house_name, h.house_loaction_fulladdress as house_location_fulladdress, h.house_loaction_detailaddress as house_location_detailaddress, h.house_price_default as house_price_default, h.house_status as house_status, h.house_star as house_star
		FROM remove_waiting rw JOIN house_info h
		ON rw.house_seq = h.house_seq
		WHERE h.house_status=2 AND rw.remove_status=0
	</select>
	<!-- house 등록 허가, house 삭제 불허 -->
	<update id="registerHouse" parameterType="kg.air.cnc.vo.House_InfoVO">
		UPDATE house_info
		SET house_status=0
		WHERE house_seq=#{house_seq}
	</update>
	
	<!-- house 등록 불허 -->
	<delete id="cancelRegister" parameterType="kg.air.cnc.vo.House_InfoVO">
		DELETE FROM house_info
		WHERE house_seq=#{house_seq}
	</delete>
	
	<!-- 처리 후 house_waiting* 테이블에서 삭제 -->
	<delete id="deleteRemoveWaiting" parameterType="kg.air.cnc.vo.House_InfoVO">
		DELETE FROM remove_waiting
		WHERE house_seq=#{house_seq}
	</delete>
	
	<!-- 해당 house 정보 가지고 오기 -->
	<select id="getHouse" parameterType="kg.air.cnc.vo.House_InfoVO" resultType="kg.air.cnc.vo.House_InfoVO">
		SELECT *
		FROM house_info
		WHERE house_seq=#{house_seq}
	</select>
	
	<!-- 삭제 대기 테이블 삭제 가능 날짜 업데이트 -->
	<update id="updateDate" parameterType="kg.air.cnc.vo.House_InfoVO">
		UPDATE remove_waiting
		SET house_remove_date=(select max(reservation_regdate) from reservation), remove_status=1
		WHERE house_seq = #{house_seq}
	</update>
	
	<select id="canDeleteList" resultType="kg.air.cnc.vo.RemoveWaitingVO">
		<![CDATA[
		SELECT *
		FROM remove_waiting
		WHERE house_remove_date<sysdate AND remove_status=1
		]]>
	</select>
	
	<!-- 삭제 가능 날짜인 삭제대기 자동 삭제 후 삭제대기 테이블에서 삭제 -->
	<delete id="deleteHouse" parameterType="kg.air.cnc.vo.RemoveWaitingVO">
		DELETE FROM house
		WHERE house_seq=#{house_seq}
	</delete>
	<delete id="deleteWaitingHouse" parameterType="kg.air.cnc.vo.RemoveWaitingVO">
		DELETE FROM remove_waiting
		WHERE house_seq=#{house_seq}
	</delete>
</mapper>
